
<table>
	<caption><h2>Cake shop inventory</h2> </caption>
	<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Description</th>
		<th scope="col">Baker</th>
		<th scope="col">Cake Type</th>
		<th scope="col">Buying Cost</th>
		<th scope="col">Retail Price</th>
		<th scope="col">Amount in Stock</th>
		<th scope="col">Markup</th>


  </tr>
  <% for cake in @cakes %>
  <tr>
		<td><a href="/cakes/<%= cake.id%>"> <%=cake.name() %></a></td>
		<td><%=cake.description() %></td>
		<td><%=cake.get_baker.name() %></td>
		<td><%=cake.get_type.type() %></td>
		<td class="buying_cost">£<%=cake.buying_cost() %></td>
		<td class="buying_cost">£<%=cake.retail_price() %></td>
		<td class="<%=cake.stock_level()%>"><%=cake.quantity() %></td>
		<td class="mark_up">£<%=cake.mark_up() %></td>


	</tr>
  <% end %>
</table>
