<h2><%= @cakes.name()%></h2>

<p>Description: <%= @cakes.description() %></p>
<p>Quantity: <%= @cakes.quantity() %></p>
<p>Buying Cost: <%= @cakes.buying_cost() %></p>
<p>Retail Price: <%= @cakes.retail_price() %></p>
<p>Buying Cost: <%= @cakes.buying_cost() %></p>
<p>Baker Name: <%= @cakes.get_baker.name() %></p>
