<h1>Piece of cake</h1>

<h2>Edit <%=  @cake.name()%></h2>

<p>Description: <%= @cake.description() %></p>
<p>Quantity: <%= @cake.quantity() %></p>
<p>Buying Cost: <%= @cake.buying_cost() %></p>
<p>Retail Price: <%= @cake.retail_price() %></p>
<p>Buying Cost: <%= @cake.buying_cost() %></p>
<p>Baker Name: <%= @cake.get_baker.name() %></p>

<p><a href="/cakes/<%=@cake.id%>/edit">Edit <%=  @cake.name()%></a></p>

<form action="/cakes/<%=@cake.id%>/delete" method="POST"><input type="submit" value="Delete <%=  @cake.name()%>"></form>
