<h2> <%=@baker.name()%> </h2>

<p><a href="/bakers/<%=@baker.id%>/edit">Edit <%= @baker.name() %></a></p>

<form action="/bakers/<%=@baker.id%>/delete" method="POST"><input type="submit" value="Delete <%=@baker.name() %>"></form>
